html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--text-primary));
  font-family: "Pretendard Variable", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid hsl(var(--focus-ring));
  outline-offset: 2px;
}

main {
  padding: 2rem 1rem 10rem;
}
